{:paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.0"}
        com.google.auth/google-auth-library-credentials {:mvn/version  "0.13.0"}
        com.google.cloud/google-cloud-storage {:mvn/version "1.62.0"}
        }
 :aliases {
    :test {:extra-paths ["test"]}
  }
 }
